// Fonts
$font-primary:    'Luxora Grotesk';
$font-secondary:  'Equinox';

// Colors
$black:       #000000;
$dark:        #353535;
$grey:        #C4C4C4;
$light-grey:  #F5F5F5;
$white:       #FFFFFF;
$hover:       #006992;